html {
    background-color: #d0e0e6;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
}

body {
    padding: 5em 0;
}

.contenedor {
    width: 80%;
    margin: 0 auto;
}

#logo {
    width: 210px;
    height: 35px;
    background-color: #9db8c3;
    display: block;
    float: left;
}

.navigation {
    height: 25px;
    background-color: #8699a7;
    padding-top: 10px;
 }

.tab{
    width: 200px;
    background-color: #cccccc;
    float: left;
}

.sidebar {
    width: 210px;
    background-color: #eaf4fa;
    float: left;
}

.main {
    background-color: #f8fafb;
}